<%= stylesheet_link_tag 'task' %>

<%= form_with model: [category, task], class: 'task-form' do |form| %>

<div class='task_name'>
    <p>Task Name:</p>
    <%= form.text_field :name, class:'task-name' %>
</div>

<div class='task_description'>
    <p>Task Description:</p>
    <%= form.text_area :description,size:"60x10" ,class:'task-description' %>
</div>

<div class='task_datetime'>
    <p>DateTime:</p>
    <%= form.datetime_local_field :deadline, class:'task-datetime' %>
</div>

<div class='task_submit'>
    <%= form.submit class:'task-submit' %>
</div>


<% end %>

<% if flash[:error] %>
<div class='task error'><%= flash[:error] %></div>
<% end %>