<%= form_with model: [category, task], class: 'form-group mb-5' do |form| %>


    <p class='form-label white'>Task Name</p>
    <%= form.text_field :name, class:'form-control bg-dark text-light', placeholder:"Task Name" %>

    <p class='form-label white'>Task Description</p>
    <%= form.text_area :description,size:"60x10", class:'form-control bg-dark text-light', placeholder:"Description" %>

    <p class='form-label white'>DateTime</p>
    <%= form.datetime_local_field :deadline, class:'form-control bg-dark text-light' %>

    <%= form.submit class:'btn btn-secondary my-2' %>


<% end %>