<%= stylesheet_link_tag "main" %>

<button class='add_category_link'><%= link_to 'add category', new_category_path, class: 'link' %></button>

<% @categories.each do |category| %>

<div class='category'>
    <p class ='category-name'> <%= category.name %> </p>
    <div class='category-link'>
        <button class='category-links'><%= link_to 'view tasks', category_tasks_path(category.id), class: 'category-links tasks' %></button>
        <button class='category-links'><%= link_to 'edit', edit_category_path(category.id), class: 'category-links edit' %></button>
        <%= button_to 'delete', category_path(category.id), method: :delete, class: 'category-links delete', form:{ data:{ turbo_confirm: 'Are you sure?' } } %>
    </div>
</div>
<% end %>

<% if notice %>
    <div class='notice' ><%= notice %></div>
<% end %>

