<!DOCTYPE html>
<html>
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if user_signed_in? %>
      <section class='container-fluid border-5 border-bottom border-white'>
          <%= render "categories/header" %>
      </section>

        <%= devise_error_messages! %>
        <%= device_error_messages.length %>
      
       <% if notice %>
        <div class="alert alert-dark alert-dismissible fade show" role="alert">
          <strong>Notice:</strong> <%= notice %>
          </button>
        </div>  
       <% elsif alert %>
        <div class="alert alert-warning" role="alert">
          <strong>Alert!</strong> <%= alert %>
        </div>
      <% elsif flash[:error] %>
       <div class="alert alert-warning" role="alert">
          <strong>Alert!</strong> <%= flash[:error] %>
        </div>
      <% end %>

      <section class='container mt-4'>
          <%= yield %>
      </section>

    <% else %>
      <div class='container-fluid'>
        <div class='row vh-100'>
          <section class='col-6 bg-primary'>
            <div class='m-5 p-5'>
              <%= render "categories/greetings"%>
            </div>
          </section>

          <section class='col-6 bg-secondary'>
            <div class='m-5 p-5'>
              <%= yield %>
            </div>
          </section>
        </div>
      </div>
    
    <% end %>
    
  </body>
</html>
